{% extends "layout.html" %}
{% block title %}
Documents
{% endblock %}
{% block script %}
<script src="/static/js/DateFormatter.js" type="text/javascript"></script>
<script languate="javascript">
/**
 * プルダウンに入る一覧を更新
 */
function updateList(url, target){
    $.getJSON(url,{},function(jsondata){
        var values=jsondata['values'];
        $(values).each(function(i,val){
            $(target).append('<option>'+val+'</option>');
        });
    });
};

/**
 * プルダウン切り替え時にテキストエリアにデータを反映
 */
$(function(){
    updateList('/api/values/*/group_name','#select_group');
    $('#select_group').change(function(){
        group_name=$('#select_group option:selected').text();
        $.get('/api/latests_text/'+group_name,{},function(textdata){
            $('#result_table').val( textdata );
        });
        $.get('/api/rpms_text/'+group_name,{},function(textdata){
            $('#rpms_table').val( textdata );
        });
        $.get('/api/chkconfigs_text/'+group_name,{},function(textdata){
            $('#chkconfigs_table').val( textdata );
        });
    });
});

/**
 * テキストエリアをフォーカス
 */
$(document).ready(function(){
  $('#result_table')
    .focus(function(){
      $(this).select();
    })
    .click(function(){
      $(this).select();
      return false;
    })
  $('#rpms_table')
    .focus(function(){
      $(this).select();
    })
    .click(function(){
      $(this).select();
      return false;
    })
  $('#chkconfigs_table')
    .focus(function(){
      $(this).select();
    })
    .click(function(){
      $(this).select();
      return false;
    });
});
</script>
<style type="text/css">
  textarea {
    width: 800px;
    height: 10em;
    line-height: 1.1em;
  }

</style>
{% endblock %}
{% block body %}
<div class="container">
<div class="span12 offset0">
    <!--  -->
    <div class="span8">
        <form class="form-inline">
            <fieldset>
                <label class="control-label">
                    Group Name
                    <select id="select_group">
                        <option>select</option>
                    </select>
                </label>
            </fieldset>
        </form>
    </div>

    <!-- data -->
    <div class="span8">
        <h1>サーバ設定情報</h1>
    </div>
    <div class="span11">
        <textarea id="result_table"></textarea>
    </div>
    <div class="span8">
        <h1>インストールソフトウェア一覧</h1>
    </div>
    <div class="span11">
        <textarea id="rpms_table"></textarea>
    </div>
    <div class="span8">
        <h1>サービス起動設定一覧</h1>
    </div>
    <div class="span11">
        <textarea id="chkconfigs_table"></textarea>
    </div>
</div>
</div>
{% endblock %}
